.all{
  -webkit-overflow-scrolling: auto;
}

.header {
  font-size: 20px;
}

.header>span {
  display: inline-block;
  color: red;
}

.header>span>i {
  color: #00ff00;
  font-size: 30px;
  border-width: 100px;
}

.header>div {
  float: right;
}

.sider {
  overflow: auto;
  height: calc(100vh - 60px);
  position: fixed;
  left: 0;
}

.layout {
  padding-left: 200px
}

.board {
  overflow: auto;
  height: calc(100vh - 130px);
  left: 200px;
}

.board>div {
  color: blue;
  width: 100%;
}
.footer{
  text-align: center
}
