.all {
  -webkit-overflow-scrolling: auto;
}

.header {
  font-size: 20px;
}

.header>span {
  display: inline-block;
  color: red;
}

.header>span>i {
  color: #11d15b;
  font-size: 30px;
  border-width: 100px;
}

.header>div {
  float: right;
  margin-left: 10px;
}

.sider {
  overflow: auto;
  height: calc(100vh - 60px);
  left: 0;
}

.board {
  overflow: auto;
  background: #cad9f0;
  height: calc(100vh - 210px);
  left: 200px;
}

.board>div {
  display: inline-block;
}

.holder {
  height: 200px;
  background: #2c16ac;
  visibility: hidden;
}

.footer {
  background: #e8e99b;
  position: relative;
  width: 100%;
  height: 100px;
  text-align: end;
}

.player {
  position: absolute;
  width: 200px;
  height: 240px;
  bottom: 0;
  right: 0;
  background: url(../assets/player.png) no-repeat center 0;
  background-size: cover;
  vertical-align: bottom;
}

.item {
  position: absolute;
  font-size: 0;
  width: 80px;
  height: 80px;
  bottom: 10px;
  right: 180px;
  background: url(../assets/item1.png) no-repeat center 0;
  background-size: cover;
  border: 1px solid black;
  border-radius: 5px;
}