.all{
  -webkit-overflow-scrolling: auto;
}

.header {
  font-size: 20px;
}

.header>span {
  display: inline-block;
  color: red;
}

.header>span>i {
  color: #11d15b;
  font-size: 30px;
  border-width: 100px;
}

.header>div {
  float: right;
  margin-left: 10px;
}

.sider {
  overflow: auto;
  height: calc(100vh - 60px);
  left: 0;
}

.board {
  overflow: auto;
  background: #cad9f0;
  height: calc(100vh - 130px);
  left: 200px;
}
.board>div{
  float: left;
}

.holder{
  height: 200px;
  background: #2c16ac;
  visibility:hidden;
}
