.bg {
  float: none;
  margin: 25px 25px 50px;
  width: 150px;
  height: 150px;
  background: url(../assets/bg.png) no-repeat center 0;
  background-size: cover;
  cursor: pointer;
  border: 0.5px solid black;

}

.item {
  position: relative;
  overflow: hidden;
  left: 80px;
  bottom: -80px;
  width: 80px;
  height: 80px;
  background: url(../assets/item.png) no-repeat center 0;
  background-size: cover;
  border: 0.2px solid  black;
}