.top1>div {
    display: block;
    float: left;
}

.top>div {
    display: inline-block;
    vertical-align: top;
}

.bg {
    width: 60px;
    height: 60px;
    background: url(../assets/bg.png) no-repeat center 0;
    background-size: cover;
    cursor: pointer;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.bgdiagplayer {
    width: 60px;
    height: 60px;
    background: url(../assets/player.png) no-repeat center 0;
    background-size: cover;
    cursor: pointer;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.diag {
    max-width: calc(100% - 200px);
    min-height: 30px;
    position: relative;
    margin: 10px;
    background: #f0dac1;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    direction: ltr
}

.pop1, .pop2, .pop1p, .pop2p {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 10px;
    display: block;
    top: 15px;
}

.pop1 {
    left: -20px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #000 transparent transparent;
}

.pop2 {
    left: -19px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #f0dac1 transparent transparent;
}

.pop1p {
    right: -20px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent  #000 ;
}

.pop2p {
    right: -19px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #f0dac1 ;
}